.row{
    background: #64a3e6;

}

footer{
    color: rgb(218, 235, 250);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}